/* Skyscraper */

/* Set Box Sizing for Page */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: var(--font-size, 18px);
}

html,
body {
    font-family: Arial, sans-serif;
    letter-spacing: 0.03em;
    line-height: 2.1em;
    margin: 0;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--white);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0.8em 0;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

/* Should also include the special tags for some formatting */
article,
aside,
details,
figcaption,
figure,
footer,
header,
img,
main,
menu,
nav,
section {
    display: block;
}

summary {
    display: list-item;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

figure {
    margin: 1em 2em;
}

/* Test Me! User Should be able to choose if image is repsonsive or only scales down */
/* confirm : are pure, bulma, and w3css responsive by default ? */
img.is-round {
    border-radius: 50%;
}

img.is-fluid {
    width: 100%;
    height: auto;
}

img.is-responsive {
    max-width: 100%;
    width: auto;
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

fieldset {
    margin: 0 0.2em;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    background-color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.hidden,
[hidden] {
    display: none !important;
}

:disabled {
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {

    html {
        font-size: var(--font-size, 18px);
    }
}

/* Small devices */
@media only screen and (min-width: 600px) {

    html {
        font-size: var(--font-size, 18px) + 1px;
    }
}

/* Medium devices */
@media only screen and (min-width: 768px) {

    html {
        font-size: var(--font-size, 18px) + 2px;
    }
}

/* Large devices */
@media only screen and (min-width: 1280px) {

    html {
        font-size: var(--font-size, 18px) + 3px;
    }
}

/* Extra large devices */
@media only screen and (min-width: 1920px) {

    html {
        font-size: var(--font-size, 18px) + 5px;
    }
}

/* Extra large devices, ultrawide */
@media only screen and (min-width: 2560px) {

    html {
        font-size: var(--font-size, 18px) + 8px;
    }
}