/*
Name: Skyscraper
Description: It's an awesome framework. NGL.
Author: ChristianIsADev
Author URI: 
Tags: CSS3, Grid, Accessibility, Framework
*/
:root {
    --font-family: "Lucida Grande", Arial, sans-serif;
    --background-color: #FFFFFF;
    --font-color: #3B3B3B;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    font-family: var(--font-family);
    letter-spacing: 0.08rem;
    line-height: 1.8rem;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--font-color);
}

summary {
    display: list-item;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

figure {
    margin: 1rem 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

img.fluid-width {
    max-width: none;
    width: 100%;
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: 600;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

fieldset {
    margin: 0 0.2rem;
    padding: .35rem .625rem .75rem;
}

legend {
    color: inherit;
    background-color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

[hidden] {
    display: none;
}

:disabled {
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
}