@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #181818;
        --font-color: #ABABAB;
        --container-color: #3B3B3B;
        --primary-color: #FCC1C1;
        --secondary-color: #D1A5F5;
        --primary-accent-color: #FCDEDE;
        --secondary-accent-color: #D1A5F5;
    }

    body {
        color: var(--font-color);
        background-color: var(--background-color);
    }

    img {
        opacity: 0.77;
        transition: opacity .5s ease-in-out;
    }

    img:hover {
        opacity: 1;
    }

    a {
        color: var(--secondary-color);
    }

    mark {
        background: var(--utility-warning, #FFCC3C);
    }
}