/* TODO : Change primary color based on dark scheme.
   TODO : See what other enhancements can be done.
*/
@media (prefers-color-scheme: dark) {
    body {
        color: var(--white, #ffffff);
        background-color: var(--black, #1d1d1d);
    }

    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }

    img:hover {
        opacity: 1;
    }
}