/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0.6em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

a,
p,
em {
    font-weight: 200;
}

blockquote {
    font-weight: 400;
}

p.reading-container,
blockquote {
    max-width: 78ch;
    margin: auto;
    overflow: hidden;
}

b,
strong {
    font-weight: 600;
}

small,
sub,
sup {
    font-size: 0.8em;
}

blockquote,
em,
strong {
    font-variant: small-caps;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.3em;
}

sup {
    top: -0.5em;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: underline dashed;
}

/* code, samp, pre, var, kbd */
/* code, samp, var, kbd : i/o terminal */
/* 
    pre : just font-family and spacing
    code : section for code left-aligned but with blockquote indentation and styling (b/w, colors should change this)
    kbd  : looks like keys
    samp : right-aligned
    var : like code but no styling
*/

code,
kbd,
pre,
var,
samp {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1rem;
}

code,
kbd,
var,
samp {
    font-weight: 500;
}

kbd {
    text-align: center;
    border-color: #000000;
    background-color: #1f1f1f;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

samp {
    text-align: right;
}

dfn {
    font-style: italic;
}

mark {
    background: #FFD300;
    color: var(--font-color);
}

hr {
    height: 0;
    margin: 0.6rem 6rem;
    border: 0;
    border-top: 1px solid var(--font-color);
    opacity: 0.77;
    box-sizing: content-box;
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

hr.full-width {
    margin: 0;
}

hr.no-line {
    border-top: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}