:root {
    /* Primary Can Stand alone on bg or container
       Primary can be used as header/footer */
    --primary-color: #B50505;
    /* Secondary color can stand alone on bg or container
       Secondary color can be used as header/footer */
    --secondary-color: #5D05B5;
    /* Containers : Based on primary, secondary 
    /* Should also have 2 greys to bounce of bg (light/dark) */
    --primary-accent-color: #FCC1C1;
    --secondary-accent-color: #D1A5F5;
    --container-color: #F3F3F3;
    --reading-container-color: #F3F3F3;
    /* Grid */
    --grid-gap: 1rem;
    /* Icons */
    /* Typography */
    --mark-yellow: #FFD300;
}